body{
    background-color: #f2f8fc;
    font-family: "Segoe UI", sans-serif;
}
.navbar{
    background-color: #29b6f6;
}
.navbar-brand, .nav-linl, .btn-logout{
    color: #ffffff;
}
.navbar-link.active{
    font-weight: bold;
    text-decoration: underline;
}
.card{
    border: none;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
.card h5{
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
}
.info-label{
    font-weight: bold;
}
.table td{
    vertical-align: middle;
}
.estado_completada{
    background-color: #d4edda;
    color: #155724;
    border-radius: 10px;
    font-size: 0.9em;
}
