.navbar-gradient {
    background: linear-gradient(to right, #5EDDE4, #0C8A90);
  }

.buttonEntrar{
    border-radius: 10px;
    background-image: linear-gradient(
        150deg,
        #3989CA,
        #A6ACB1,
    );
    border: none;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }

.buttonEntrar:hover{
    transform: scale(1.05);
    background-image: linear-gradient(150, #337ab7, #888d92);
}

/* modal inicio de sesion */
body{
  /* background-color: ; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}
.modal-content {
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

.logo_circle{
  width: 120px;
  height: 120px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.logo_circle img{
  width: 80px;
  height: auto;
}
.form-control{
  background-color: #e6f0fa;
  border: none;
  border-radius: 20px;
  text-align: left;
}
/* .form-group{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
.btn-primary{
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
.btn-primary:hover{
  background-color: #0d8ae6;
}
.forgot-password, .register-link  {
  font-size: 14px;
  text-decoration: none;
}
.forgot-password a, .register-link a {
  color: #1da1f2;
  text-decoration: none;
}
.forgot-password a:hover, .register-link a:hover {
  text-decoration: underline;
}